@import "reset.css";
@import "variables.css";

/* Component */
@import "components/window.css";

/* Windows */
@import "windows/greeting.css";
@import "windows/user-interface.css";

body {
    width: 100%;
    height: 100vh;
    background-color: #039193;
    font-family: 'W95FA', '돋움', 'meiryo', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -.3px;
    font-size: var(--main-title);
    font-weight: bold;
    margin: 10px 0;
}

.hidden {display: none;}