
.greeting__login img {margin-top: -15px;}

.login__title {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -.3px;
    font-size: var(--main-title);
    font-weight: bold;
    margin: 10px 0;
}
.login__form {position: relative;}
input {
    border: var(--border-doubleline);
    border-image: var(--border-inner-img);
}

input[type="submit"] {
    border: var(--border-doubleline);
    border-image: var(--border-outer-img);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 20px;
}
input[type="submit"]:active {border-image: var(--border-inner-img);}
input[type="text"] {width: 280px;}
input[type="password"] {width: 280px;}
label[for="name"] {margin-right: 57px;}
label[for="password"] {margin-right: 35px;}