.login__title {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -.3px;
    font-size: var(--main-title);
    font-weight: bold;
    margin: 10px 0;
}

input {
    border: var(--border-doubleline);
    border-image: var(--border-inner-img);
}

input[type="submit"] {
    border: var(--border-doubleline);
    border-image: var(--border-outer-img);
}

input[type="submit"]:focus {
    border-image: var(--border-inner-img);
}