/* dragged */
#frame:active {cursor: move;}
.frame {
    border: 4px solid transparent;
    border-image: url(../../images/frame-border.png) 4;
    background-color: var(--primary);
}

.frame-cont {
    padding: 15px 25px;
}

.frame__header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: var(--white);
    background-color: var(--tertiary);
    background-repeat: no-repeat;
}
