.window {
    border: 4px solid transparent;
    border-image: url(../../images/window-border.png) 4;
    background-color: var(--primary);
}

.window__header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: var(--white);
    background-color: var(--tertiary);
    background-repeat: no-repeat;
}

.window__contents {
    padding: 15px 25px;
}